//** Header

$header-height: 50px;

//## header primary
.header {
    background: $color-primary;
    color: red;
    position: fixed;
    height: $header-height;
    width: 100%;
    top: 0;
    transition: top 0.15s ease-in-out;
    overflow: hidden;    

    .header__identity {
        margin: 5px 0;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            width: 600px;
            height: 100px;
            background: $color-secondary;
            position: absolute;
            right: 100%;
            top: -10px;
        }

        &:after {
            content: '';
            width: 160px;
            height: 100px;
            background: linear-gradient(to right, rgba(224,191,30,1) 0%,rgba(0,0,0,0) 100%);
            position: absolute;
            left: 0;
            top: -10px;
            z-index: -1;
        }
    }

    .logo {
        @extend %ir;
        background: url('/img/svg/logo.svg');
        display: inline-block;
        position: relative;
        margin: 0;
        height: 30px;
        top: 5px;
        width: 160px;
    }

    &.user-is-scrolldown {
        top: -$header-height;
    }
}

.home .header {
    @extend %homepage-bg-thing;
}

body {
    padding-top: $header-height;
}