//** Header

$header-height: 50px;

//## header primary
.header {
    background: $color-primary;
    color: red;
    position: fixed;
    height: $header-height;
    width: 100%;
    top: 0;
    transition: top 0.15s ease-in-out;
    overflow: hidden;    

    .header__identity {
        margin: 5px 0;
        display: inline-block;
    }

    .logo {
        @extend %ir;
        background: url('/img/svg/logo.svg');
        display: inline-block;
        position: relative;
        margin: 0;
        height: 30px;
        top: 5px;
        width: 160px;
    }

    &.user-is-scrolldown {
        top: -$header-height;
    }
}

body {
    padding-top: $header-height;
}