//** Navigation

//## primary navigation
.nav--primary {
    float: right;
    display: inline-block;
    margin: 5px 0;
    > li > a:hover,
    > li > a:active {
        background: $color-primary-dark;
    }
    a {
        color: $white;
    }
}