@charset "UTF-8";

//** index css 
// compile with gulp sass:watch from cli @ root

//## Dependencies
@import "../../node_modules/susy/sass/susy";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

//## Generic & Utilities
@import "generic/reset";
@import "generic/normalise";
// settings to contain: global variables | [ colors, fonts, margins, paddings ]
@import "generic/settings"; 
@import "generic/mixins";


@import "generic/bootstrap"; //here until no longer needed

// helpers to contain [clearfix, f-right, etc. ] 
@import "generic/helpers";
@import "generic/grid";
@import "generic/main";                     //body, image/object/video, hr, links
//@import "generic/media";                  //image/object/video
@import "generic/typography";               //headings, p, blockquote, small, code, pre
@import "generic/defaults";                 //links, input, form



//## Styleguide
@import "styleguide/header";
@import "styleguide/nav"; 
@import "styleguide/map"; 
//@import "styleguide/controls";
//@import "styleguide/viewport";
//@import "styleguide/headers";

//# Template specific
//@import "template/homepage"

@import "dev"; 