<title><%- title %></title>
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="<%- description %>">

<!-- move this to bottom of page, when we want to actually improve JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>