<header id="headerPrimary" class="header header--primary">
    <div class="container">
        <h1 class="header__identity">
            <a href="/home" title="<%= title %>" class="logo">
                <%= description %>
            </a>
        </h1>
        <% include ../object/nav-primary.ejs %>
    </div>
</header>