<header id="headerPrimary" class="header header--primary">
    <h1 class="header__identity">
        <a href="#" title="<%= title %>" class="logo">
            <%= description %>
        </a>
    </h1>
    <% include ../object/nav-primary.ejs %>
</header>