<a class="skiplink" href="#map">Go to map</a>
<div id="map" class="map" tabindex="0"></div>
<button id="zoom-out">Zoom out</button>
<button id="zoom-in">Zoom in</button>

<!-- until code related to map is prototyped, keep here -->
<script src="/js/ol.js"></script>
<script>
	var view = new ol.View({
        center: [0,0],
        zoom: 4
    });

	var map = new ol.Map({
		layers: [
			new ol.layer.Tile({
				source: new ol.source.OSM()
			})
		],
		target: 'map',
		controls: ol.control.defaults({
			attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
				collapsible: false
			})
		}),
		view: view
	});

	var geolocation = new ol.Geolocation({
        projection: view.getProjection()
    });
    
    // geolocation.on('change', function() {
    //     $('#devtools .accuracy').innerText = geolocation.getAccuracy() + ' [m]';
    //     $('#devtools .altitude').innerText = geolocation.getAltitude() + ' [m]';
    //     $('#devtools .altitudeAccuracy').innerText = geolocation.getAltitudeAccuracy() + ' [m]';
    //     $('#devtools .heading').innerText = geolocation.getHeading() + ' [rad]';
    //     $('#devtools .speed').innerText = geolocation.getSpeed() + ' [m/s]';
    // });

    geolocation.setTracking(true);

    var accuracyFeature = new ol.Feature();
    geolocation.on('change:accuracyGeometry', function() {
        accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
    });

    var positionFeature = new ol.Feature();
      positionFeature.setStyle(new ol.style.Style({
        image: new ol.style.Circle({
          	radius: 6,
          	fill: new ol.style.Fill({
            	color: '#3399CC'
          	}),
          	stroke: new ol.style.Stroke({
            	color: '#fff',
            	width: 2
          	})
        })
    }));

    geolocation.on('change:position', function() {
        var coordinates = geolocation.getPosition();
        positionFeature.setGeometry(coordinates ?
            new ol.geom.Point(coordinates) : null);
    });

    new ol.layer.Vector({
        map: map,
        source: new ol.source.Vector({
        	features: [accuracyFeature, positionFeature]
        })
    });

	document.getElementById('zoom-out').onclick = function() {
		var view = map.getView();
		var zoom = view.getZoom();
		view.setZoom(zoom - 1);
	};

	document.getElementById('zoom-in').onclick = function() {
		var view = map.getView();
		var zoom = view.getZoom();
		view.setZoom(zoom + 1);
	};

	function fixContentHeight(){
	    var viewHeight = $(window).height();
	    var header = $("#headerPrimary");
	    var content = $("#content");
	    var contentHeight = viewHeight - header.outerHeight();
	    content.height(contentHeight);
	    map.updateSize();
	}

	fixContentHeight();
</script>