<% if(sitebreakpoint == 'mobile') { %>

<% } else { %>
<nav class="nav nav--primary" role="navigation">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>    
</nav>
<% } %>

