//** settings

$white:                     white;
$black:                     #111;

$color-primary:             #1e7757;
$color-primary-dark:        #135b40;
$color-secondary:           #e0bf1e;

$bg-color:                  #dce2de;