//** settings

$white:                     white;
$black:                     #111;

$color-primary:             #012cc9;
$color-primary-dark:        #011585;
$color-secondary:           orangered;

$bg-color:                  #e3e3e3;