<!DOCTYPE html>
<html>
<head>
  <% include ../template/base/head.ejs %>
</head>

<body class="home">
    <% include ../object/header.ejs %>

    <div class="container">
        <div class="content wrap grid" id="content" tabindex="-1">

            <main class="main">
                <a href="questionnaire/1" class="btn btn-default">I'm ready to go</a>
                <a href="send">Test</a>
                <h3><%= data %></h3>
                <h3><%= response %></h3>
            </main>
        </div>
    </div>
    
    <% include ../template/base/javascript.ejs %>

    <% include ../dev/devtools.ejs %>
</body>
</html>
