<!DOCTYPE html>
<html>
<head>
  <% include ../template/base/head.ejs %>
</head>

<body class="home">
    <% include ../object/header.ejs %>

    <div class="container">
        <div class="content wrap grid" id="content">

            <main class="main">
                
                <div class="jumbotron">
                  
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis magna neque, a commodo nisi feugiat in. </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Pellentesque congue ligula nec ullamcorper laoreet. Donec eget dolor eget nibh pharetra pulvinar fermentum quis elit. In imperdiet convallis nuncn.</h3>
                        </div>
                        <div class="col-md-4">
                            <p><a class="btn btn--primary" href="questionnaire/1" role="button">I'm ready to go</a></p>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    
    <% include ../template/base/javascript.ejs %>

    <% include ../dev/devtools.ejs %>
</body>
</html>
